blockquote {
    border-left: none;
  }
  
  .quote-badge {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .quote-box {
    overflow: hidden;
    margin-top: 50px;
    padding-top: -25px;
    color: white;
    width: 100%;
    padding: 0 20px;
  }
  
  .quotation-mark {
    margin-top: 10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: "Times New Roman", Times, Serif;
    
  }
  
  .quote-text {
    margin-top: -50px;
  }
  
  .blog-post-bottom {
    display: inline-block;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  