@import url('"https://fonts.googleapis.com/icon?family=Material+Icons"');
@import url('https://use.typekit.net/xft1kcl.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');




$font-family-base: 'Poppins', sans-serif;
$headings-font-family: "dutch-mediaeval-pro", sans-serif;
// Surcharge des variables
$primary: #c1121f; // Exemple : modifier la couleur principale
$secondary: #e0e1dd;
$success: #1b263b;
$danger: #dda15e;
$body-bg: #0d1b2a;
$body-color: #e0e1dd; // Exemple : couleur gris foncé
$text-color: #e0e1dd;



// Import des variables Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Import des styles Bootstrap avec vos modifications
@import "bootstrap/scss/bootstrap";
